
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-image: url(fon.jpg);
    position: relative;
    font-size: 14px;
    color: black;
    padding: 25px;
    font-weight: bold;
}
.container {
    background-image: url(fon.jpg);
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid yellow;
}
h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
input, textarea, select {
    font-size: 14px;
    margin-bottom: 13px;
    margin-top: 4px;
    padding: 6px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}
textarea{
    resize: none;
}
.group {
    width: 100%;
}
#send {
    background-color: yellow;
    color: red;
    padding: 15px 30px;
    height: 50px;
    margin-bottom: 0;
    transform: scale(1);
    border-radius: 15px;
    margin-left: 37%;
    margin-right: 63%;
    cursor: pointer;
}
#send:hover, #send:active {
    background-color: green;
    color: yellow;
}
.radio {
    margin-left: 10px;
}
#year {
    background-color: white;
    color: black;
}

.error {
    border: 1px solid black;
}
.messages {
    margin-bottom: 10px;
    color: red;
    font-size: 20px;
}

button {
  background-color: yellow;
  border: none;
  color: black;
  padding: 15px 40px;
  margin: 40% 40%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  width: 554px;
  border-radius: 5px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
