.main-label{
    font-size: 40px;
}
#thatForm{
    background: rgb(77, 77, 77);
    padding: 10px 10px;
}
.form-check-custom-bg:checked{
    background-color: #dc3555;
    border-color: #dc3555;
}

.form-check-custom-bg:focus{
    outline: 0;
    box-shadow: 0 0 0 0.10rem #dc3555;
}

.form-control:focus{
    border-color: #dc3555;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #dc3555;
}

.form-select:focus{
    border-color: #dc3555;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #dc3555;
}

.form-control, .form-select{
    width: 100%;
}

body{
    background-image: url("background.png");
}
