body{
    font-size:16px;
    align-content: center;
}
.fon1{ 
    width: 70%; 
    margin: auto;
    background-color: #ffff66;
    border: 1px solid #000000;

}
.submit{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 20px; 
}
